.page {
    position: relative;
}

main {
    flex: 1;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}

.message-container {
    padding: 16px 20px;
}

.message-container ::deep > .fluent-messagebar-notification {
    border-top: 1px solid #d1d1d1;
}

.message-container ::deep > .fluent-messagebar-notification + .fluent-messagebar-notification {
    border-bottom: 1px solid #d1d1d1;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    padding: 16px;
    background-color: var(--neutral-fill-stealth-rest);
    border-bottom: 1px solid var(--neurutal-stroke-rest);
    z-index: 10;
}

.header .title {
    display: flex;
    align-items: center;
    font-size: 1.35rem;
    column-gap: 10px;
    color: var(--neutral-foreground-rest);
    text-decoration: none;
}


.header .external-site {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header .external-site ::deep span,
.header .external-site ::deep svg {
    color: var(--neutral-foreground-rest);
}
.header .external-site ::deep fluent-anchor,
.header .external-site ::deep fluent-button {
    display: flex;
    justify-content: center;
}
.header .external-site ::deep fluent-anchor::part(control) {
    flex: 0 0 auto;
    width: fit-content;
}

@media (max-width: 640.98px) {
    .header {
        padding: 16px 5px;
    }
    .header .external-site ::deep fluent-anchor,
    .header .external-site ::deep fluent-button {
        min-width: 0;
        padding: 2px;
    }
    .header .external-site ::deep fluent-anchor::part(end) {
        display: none;
    }
}